.searchbar__form {
    display: flex;
    align-items: center;
    background: var(--light-grey);
    border-radius: 0.625rem;
    padding: 0.625rem 1.25rem;
    width: 80%;
}

.searchbar__input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    color: var(--dark-grey);
    background: none;
}

.searchbar__input::placeholder {
    color: var(--dark-grey);
    font-style: italic;
}

.searchbar__button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: var(--dark-grey);
    font-size: 1.125rem;
}

.searchbar__button button i {
    display: inline-block;
}